.profile__edit {
  margin: 0 15px 0 10px;
  padding: 0;
  background-color: black;;
  border: 0;
  width: 18px;
  height: 18px;
  display: block;
  cursor: pointer;
  background-image: url(../../../images/edit_button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .profile__edit {
    width: 24px;
    height: 24px;
  }
}