.galery__card {
  margin: 0 auto;
  overflow: hidden;
  border-radius: 20px;
  box-sizing: border-box;
  height: 361px;
  width: 100%;
  min-width: 282px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}