.popup__input {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  border: 0;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  display: block;
  height: 34px;
  font-size: 14px;
  line-height: calc(17 / 14);
}

.popup__input:last-of-type {
  margin-bottom: 52px;
}

@media (max-width: 768px) {
  .popup__input:last-of-type {
    margin-bottom: 47px;
  }
}