.popup__container {
  width: 430px;
  min-height: 330px;
  margin-top: 195px;
  background-color: #fff;
  position: fixed;
  z-index: 100;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

@media (max-width: 768px) {
  .popup__container {
    margin-top: 123px;
    width: 282px;
    min-height: 322px;
  }
}