.profile {
  margin-top: 42px;
  padding: 0 19px;
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .profile {
    display: grid;
    grid-template-columns: 120px minmax(300px, 1fr) auto;
    align-items: center;
  }
}

@media (min-width: 880px) {
  .profile {
    padding: 0;
  }
}