.galery__heart {
  margin: 0;
  padding: 0;
  background-color: #fff;
  display: block;
  background-image: url(../../../images/heart.svg);
  min-width: 20px;
  height: 20px;
  border: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  outline: 0;
  transition: opacity linear .1s;
}

.galery__heart:hover {
  opacity: .5;
  cursor: pointer;
}
