.profile__subtitle {
  padding: 0;
  padding-top: 7px;
  margin: 0;
  color: #fff;
  font-size: 18px;
  line-height: calc(22 / 18);
  width: 100%;
}

@media (max-width: 768px) {
  .profile__subtitle {
    padding-top: 9px;
    text-align: center;
    font-size: 14px;
    line-height: calc(17 / 14);
  }
}