.profile__title {
  color: #fff;
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 42px;
  line-height: calc(48 / 42);
  font-weight: 500;
}

@media (max-width: 768px) {
  .profile__title {
    font-size: 27px;
    line-height: calc(33 / 27);
    margin-left: 34px;
  }
}