.profile__edit {
  width: 24px;
  height: 24px;
  border: 0;
  background-image: url(../../../images/edit_button.svg);
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 20px;
}