.profile__title {
  margin: 0;
  padding: 0;
  /* margin-bottom: 7px; */
  width: 100%;
  color: #fff;
  font-size: 27px;
  font-weight: normal;
  line-height: calc(33 / 27);
  text-align: center;
  letter-spacing: 0.2px;
  border: 1px solid red;

  width: max-content;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 768px) { 
  .profile__title {
    font-size: 42px;
    font-weight: 500;
    line-height: calc(48 / 42);
    text-align: left;
  }
}