.popup__exit-button {
  width: 40px;
  height: 40px;
  border: 0;
  box-sizing: border-box;
  background-color: transparent;
  background-image: url(../../../images/popup_exit-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  position: absolute;
  top: -40px;
  right: -40px;
  transition: opacity linear .1s;
}

.popup__exit-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media (max-width: 768px) {
  .popup__exit-button {
    width: 20px;
    height: 20px;
    top: -42px;
    right: 8px;
  }
}